
@import "General.scss";

#titulo-alumnos{
    font-size: 4em;
    font-weight: 70;
    text-align: center;
    padding: 20px 5px;
}

.alumnos-div{
    padding: 20px 2rem;
    background: rgb(230,230,230);
    .alumno-div{
        padding: 20px 5px;
        border-bottom: 1px solid #000;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover .enviar-mensaje{
            opacity: 1;
        }
        h2{
            font-weight: 70;
            width: max-content;
            &:hover ~ .enviar-mensaje{
                opacity: 1;
            }
        }
        .alumno-status{
            position: absolute;
            top: 25px;
            right: 0;
            width: 25px;
            height: 25px;
            border-radius: 100%;
        }
        .online{
            background: #090;
        }
        .offline{
            background: #900;
        }
        .enviar-mensaje{
            position: absolute;
            top: 25%;
            right: 40px;
            width: 300px;
            background: #020;
            z-index: 100;
            color: #fff;
            padding: 10px 15px;
            opacity: 0;
            &:hover{
                background-color: #050;
                cursor: pointer;
            }
        }
    }
}

@import "styleModal.scss";