<div class="modal-mensaje" ky="themodal">
    <h2 id='modal-receptor' ky="themodal"></h2>
    <h4 id="modal-status" ky="themodal"></h4>
    <div class="modal-chat" ky="themodal" id="modalChat">
        
    </div>
    <form class="modal-form" ky="themodal">
        <input type="text" placeholder="Escribe un mensaje" id="msg" name="msg" class="msg" ky="themodal">
        <button id='send-msg' class="send-msg" ky="themodal">Enviar</button>
    </form>
</div>